DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/jungle_market
FRONTEND_URL=http://localhost:5173

SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_REDIRECT_URI=http://localhost:8000/api/auth/slack/callback
ALLOWED_SLACK_TEAM_ID=
SLACK_BOT_TOKEN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/api/auth/google/callback

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=14

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-northeast-2
S3_BUCKET_NAME=jungle-market-images-dev-779035456338-ap-northeast-2-an
S3_PUBLIC_BASE_URL=https://jungle-market-images-dev-779035456338-ap-northeast-2-an.s3.ap-northeast-2.amazonaws.com
